html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: Corporate-A-Bold;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
         url('../fonts/Corporate-A-Bold.woff') format('woff');
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    /* background: #070A1B; */
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: #fff;   
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background: #070A1B;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.list {
    display: flex;    
    column-gap: 30px;
}

.list__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.list__link:hover {
    background-color: #C1A1D2;
}

.header__content::before {
    content: '';
    background-image: url('../images/decor.svg');
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.header__content {
    background: url('../images/header-bg.png') no-repeat;
    min-height: calc(100vh - 100px);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__logo {
    margin-left: 130px;
}

.title {
    font-size: 72px;
    line-height: 120%;
    font-family: Corporate-A-Bold;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-descr {
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.footer {
    background: #070A1B;
}

.concept {
    padding-top: 150px;
    margin-bottom: 150px;
}

.concept__inner { 
    max-width: 900px;
    margin-left: auto;
}

.section__title {
    color: #F402A2;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Corporate-A-Bold;
    font-size: 18px;
}

.concept__text {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 25px;
}

.premier {
    margin-bottom: 150px;
}

.premier__inner {
    display: flex;
    column-gap: 60px;
}

.premier__text {
    margin-bottom: 25px;
}

.premier__img {
    margin-bottom: 25px;
}

.premier__btn {
    line-height: 120%;
    display: block;
    width: 100%;
    font-family: Corporate-A-Bold;
    font-size: 18px;
    color: #F402A2;
    text-transform: uppercase;
    border: 1px solid #F402A2;
    padding: 14px;
    transition: all 0.2s;
}

.premier__btn:hover {
    border-color: #53A1CB;
    color: #53A1CB;
}

.video {
    margin-bottom: 150px;
}

.video__img {
    margin-bottom: 25px;
}

.video__btn {
    line-height: 120%;
    display: flex;
    font-family: Corporate-A-Bold;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: #F402A2;
    text-transform: uppercase;
    border: 1px solid #F402A2;
    padding: 14px;
    transition: all 0.2s;
    gap: 15px;
}

.video__btn:hover {
    border-color: #53A1CB;
    color: #53A1CB;
}

.video__btn path {
    transition: all 0.2s;
}

.video__btn:hover path{
    fill: #53A1CB;
}

.design__interior {
    display: grid;
    grid-template-columns: 255px 255px auto 330px;
    grid-template-rows: auto auto;
    gap: 14px 44px;
    margin-bottom: 100px;
}

.design__cell-one {
    grid-row: 1/3;
}

.design__cell-two {
    grid-row-end: -1;
    display: flex;
    align-items: flex-end;
}

.design__cell-three {
    grid-row-end: -1;
    grid-column-end: -1;
    display: flex;
    align-items: flex-end;
}

.design__cell-text {
    margin-bottom: 15px;
}

.design-slider__item {
    margin: 0 30px;
} 

.design__interior-img {
    grid-column: 2/-1;
}

.slick-track {
    margin-left: -30px;
}

.design-slider {
    margin-bottom: 25px;
}
.arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    bottom: -35px;
}

.arrow-left {
    transform: translateX(-100px);
}

.arrow-right {
    transform: translateX(50px);
}

.design__box {
    margin: 0 auto;
    max-width: 590px;
    padding: 150px 10px;
    display: flex;
    gap: 60px;
}

.design__box-text {
    margin-bottom: 15px;
}

.design__box-column {
    width: 255px;
}

.design__img {
    max-width: 100%;    
    display: block;
    object-fit: cover;
    margin: 0 auto;
}



@media (max-width: 1020px) {
    .design__interior {
        display: block;
    }

    .design__interior-img {
        width: 100%;
        margin-bottom: 25px;
    }

    .design__cell-three .design__interior-img {
        max-width: 100%;
        width: auto;
    }

    .footer__inner {
        height: 150px;
    }
}



@media (max-width: 760px) {
    .header__logo {
        margin-left: 0;
    }

    .design__box {
        padding: 75px 10px;
        display: block;
    }

    .design__box-column {
        width: 100%;
    }

    .premier__inner {
        display: block;
    }
    .video,
    .premier {
        margin-bottom: 75px;
    }

    .premier__btn {
        margin-bottom: 50px;
    }

    .premier__img {
        width: 100%;
        margin-top: 25px;
    }
    .concept {
        padding-top: 75px;
        margin-bottom: 75px;
    }

    .logo__img {
        width: 180px;
    }

    .list {
        column-gap: 5px;
    }

    .list-link {
        height: 35px;
        width: 35px;
    }

    .title {
        font-size: 50px;
    }

    .title-descr {
        font-size: 20px;
    }

    .concept__text {
        font-size: 18px;
    }
}

@media (max-width: 620px) {
    .footer__inner {
        flex-wrap: wrap;
        align-content: center;
    }

    .footer .list {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 38px;
    }

    .footer__inner {
        flex-direction: column;
        padding-top: 20px;
    }

    .header__top {
        align-content: center;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .list {
        justify-content: center;
        width: 100%;
    }

    .slick-track {
        margin-left: 0;
    }
    .design-slider__item {
        margin: 0;
    }

}

/* @media (max-width: 0px) {
    .slick-track {
        margin-left: 0;
    }
    .design-slider__item {
        margin: 0;
    }
} */